gr-snack-container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	z-index: 2000;
}
gr-snack-bar {
	margin: 0 auto;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	background-color: #323232;
	color: white;
	padding: 14px 24px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 2px;
	min-width: 288px;
	max-width: 568px;
	transition: transform 200ms ease-in-out;
}

	@media (max-width: 568px) {
		gr-snack-bar {
			min-width: auto;
			max-width: auto;
			width: 100%;
			border-radius: 0;
		}
	}

	gr-snack-bar + gr-snack-bar {
		margin-top: 10px;
	}

	gr-snack-bar .text {
		flex: 1;
		font-size: 14px; 
		font-weight: 300;
	}

		gr-snack-bar .text:not(:last-child) {
			padding-right: 48px;
		}

	gr-snack-bar button {
		margin: -8px;
		padding: 8px;
		height: auto;
		font-weight: 500;
		color: #EDFF42;
	}

	gr-snack-bar.ng-enter {
		transform: translateY(100%);
	}

	gr-snack-bar.ng-enter-active {
		transform: translateY(0);
	}

	gr-snack-bar.ng-leave {
		transform: translateY(0);
	}

	gr-snack-bar.ng-leave-active {
		transform: translateY(100%);
	}

	gr-snack-bar + gr-snack-bar {
		position: absolute;
		transition-delay: 200ms;
		visibility: hidden;
	}