gr-autocomplete {
    cursor: text;
    position: relative;
    display: block;
}
gr-autocomplete .gr-autocomplete-suggestions {
    max-height: 20vh;
    overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
gr-autocomplete .gr-autocomplete-suggestions.ng-enter {
    opacity: 0;
    transition: none;
    max-height: 0;
}
gr-autocomplete .gr-autocomplete-suggestions.ng-leave {
    transition: 300ms ease-in-out;
}
gr-autocomplete .gr-autocomplete-suggestions.ng-leave {
    opacity: 0;
    max-height: 0;
}