gr-option-container {
	display: flex;
	flex-wrap: wrap;
}
	gr-option {
		position: relative;
		display: inline-flex;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
		gr-option.no-space {
			margin: 0;
		}
		gr-option input {
			width: 0;
			height: 0;
			position: absolute;
			z-index: -9999;
			opacity: 0;
		}
		gr-option .gr-option-shell {
			position: relative;
			flex: 0 0 auto;
			width: 18px;
			height: 18px;
			border: 2px solid rgba(0,0,0,0.6);
			transition: 200ms ease-in-out;
		}
            gr-option.small {
                font-size: 14px;
            }
			gr-option.small .gr-option-shell {
				width: 14px;
				height: 14px;
			}
					gr-option.small input[type="checkbox"]:checked + .gr-option-shell .gr-option-fill {
						border-width: 7px;
					}
			gr-option .gr-option-shell:not(:last-child) {
				margin-right: 4px;
			}
			gr-option input[type="checkbox"] + .gr-option-shell, gr-option input[type="checkbox"] + .gr-option-shell .gr-option-fill {
				border-radius: 2px;
			}
			gr-option input[type="radio"] + .gr-option-shell, gr-option input[type="radio"] + .gr-option-shell .gr-option-fill {
				border-radius: 50%;
			}
			gr-option .gr-option-shell::before {
				content: '';
				display: block;
				position: absolute;
				top: -100%;
				left: -100%;
				right: -100%;
				bottom: -100%;
				background-color: rgba(0,0,0,0.1);
				transform: scale(0);
				border-radius: 50%;
				transition: 100ms ease-in-out;
				pointer-events: none;
			}
				gr-option .gr-option:focus + .gr-option-shell::before, gr-option > label:active .gr-option-shell::before {
					transform: scale(1);
				}
				gr-option input[type="checkbox"]:not([disabled]):active + .gr-option-shell, gr-option > label:active .gr-option-shell {
					transform: scale(.9);
				}
			gr-option .gr-option-fill {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				margin: auto;
				border-radius: 2px;
				overflow: hidden;
				transition: 100ms ease-in-out;
			}
			gr-option input[type="checkbox"] + .gr-option-shell .gr-option-fill {
				border-width: 0;
				border-style: solid;
				border-color: rgba(0,0,0,0.6);
				transition: border 200ms ease-in-out;
			}
				gr-option input[type="checkbox"]:checked + .gr-option-shell .gr-option-fill {
					border-width: 9px;
					border-color: #3F51B5;
				}
					gr-option input[type="checkbox"] + .gr-option-shell .gr-option-mark {
						position: absolute;
						top: 0;
						left: 0;
						width: 50%;
						height: 90%;
						transform: rotate(45deg) translate(22%,-26%);
						opacity: 0;
						transition: 50ms ease-in-out;
					}
						gr-option input[type="checkbox"]:checked + .gr-option-shell .gr-option-mark {
							opacity: 1;
						}
						gr-option input[type="checkbox"] + .gr-option-shell .gr-option-mark::before,
						gr-option input[type="checkbox"] + .gr-option-shell .gr-option-mark::after {
							content: '';
							position: absolute;
							display: block;
							background-color: white;
							transition: transform 0s ease-in-out 100ms, opacity 200ms ease-in-out;
						}
						gr-option input[type="checkbox"] + .gr-option-shell .gr-option-mark::before {
							top: 87%;
							left: 0;
							right: 0;
							bottom: 0;
							transform-origin: 0 50%;
							transform: scaleX(0);
						}
						gr-option input[type="checkbox"] + .gr-option-shell .gr-option-mark::after {
							top: 10%;
							left: 70%;
							right: 0;
							bottom: 0;
							transform-origin: 50% 100%;
							transform: scaleY(0);
						}
							gr-option input[type="checkbox"]:checked + .gr-option-shell .gr-option-mark::before {
								transform: scaleX(1);
								transition: 50ms ease-in-out 200ms, opacity 0s linear;
							}
							gr-option input[type="checkbox"]:checked + .gr-option-shell .gr-option-mark::after {
								transform: scaleY(1);
								transition: 50ms ease-in-out 250ms, opacity 0s linear;
							}

			/* Radio button */
			gr-option input[type="radio"]:checked + .gr-option-shell {
				border-color: #3F51B5;

			}
				gr-option input[type="radio"] + .gr-option-shell .gr-option-fill {
					border: 0 solid rgba(0,0,0,0.6);
					transition: border 100ms ease-in-out 100ms, transform 200ms ease-in-out;
				}
				gr-option input[type="radio"]:checked + .gr-option-shell .gr-option-fill {
					border-width: 9px;
					transform: scale(0.6);
					border-color: #3F51B5;
					transition: border 200ms ease-in-out, transform 300ms cubic-bezier(0.42, 0, 0.53, 2) 100ms;
				}

            /* Disabled */
            gr-option input[disabled] + .gr-option-shell {
                opacity: .6;
            }
		gr-option > label {
			display: flex;
			align-items: center;
			min-height: 19px;
		}
	gr-option-container {
		display: flex;
		min-height: 32px;
		align-items: center;
	}
	gr-option-container > gr-option {
		flex: 0 0 auto;
		max-width: 100%;
	}
	gr-option-container.full-row > gr-option {
		flex: 1 0 100%;
	}
    gr-option-container.v-space-4 > gr-option {margin-top: 4px; margin-bottom: 4px;}
    gr-option-container.v-space-8 > gr-option {margin-top: 8px; margin-bottom: 8px;}
    gr-option-container.b-space-8 > gr-option {margin-right: 8px;}
    gr-option-container.b-space-16 > gr-option {margin-right: 16px;}