ui-profile-float {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #2196F3;
    color: white;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: scale(1);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 6px 18px rgba(0,0,0,0.2);
}
	ui-profile-float img {
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}
	ui-profile-float.ng-enter {
		margin: -40px auto -40px;
		transform: scale(0);
		opacity: 0;
		transition: 200ms ease-in-out;
	}
		ui-profile-float.ng-enter-active {
			margin: -40px auto 0;
			transform: scale(1);
			opacity: 1;
		}
	ui-profile-float.ng-leave {
		margin: -40px auto 0;
		transform: scale(1);
		opacity: 1;
		transition: 200ms ease-in-out;
	}
		ui-profile-float.ng-leave-active {
			margin: -40px auto -40px;
			transform: scale(0);
			opacity: 0;
		}