.gr-secondary {
    color: rgba(0,0,0,0.6);
    font-size: 13px;
}
.gr-title {
    margin-bottom: 16px;
}
.gr-title.card.dense {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color: rgba(0,0,0,0.6);
}