.gr-flex {display: flex;}
.gr-flex > * {flex: 1;}
.gr-flex > .flex-none {flex: none;}
.gr-flex.space-16 > * {margin-left: 16px;}
.gr-flex.space-8 > * {margin-left: 8px;}
.gr-flex.center {align-items: center; justify-content: center;}
.gr-flex.ai-center {align-items: center;}
.gr-flex.jc-center {justify-content: center;}


/* XXS = 2 x EXTRA SMALL */
@media (max-width: 479px) {
    .gr-flex.xxs-full {flex-wrap: wrap;}
    .gr-flex.xxs-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .xxs-flex-none {flex: none;}
    .gr-flex.xxs-full-space-8 > * {margin-top: 8px;}
    .gr-flex.xxs-full-space-16 > * {margin-top: 16px;}
}

/* LTE-XS = LOWER THAN EQUAL EXTRA SMALL (<= Extra small) */
@media (max-width: 599px) {
    .gr-flex.lte-xs-full {flex-wrap: wrap;}
    .gr-flex.lte-xs-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .lte-xs-flex-none {flex: none;}
    .gr-flex.lte-xs-full-space-8 > * {margin-top: 8px;}
    .gr-flex.lte-xs-full-space-16 > * {margin-top: 16px;}
}

/* XS = EXTRA SMALL */
@media (min-width: 480px) and (max-width: 599px) {
    .gr-flex.xs-full {flex-wrap: wrap;}
    .gr-flex.xs-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .xs-flex-none {flex: none;}
    .gr-flex.xs-full-space-8 > * {margin-top: 8px;}
    .gr-flex.xs-full-space-16 > * {margin-top: 16px;}
}

/* LTE-SM = LOWER THAN EQUAL SMALL (<= Small) */
@media (max-width: 959px) {
    .gr-flex.lte-sm-full {flex-wrap: wrap;}
    .gr-flex.lte-sm-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .lte-sm-flex-none {flex: none;}
    .gr-flex.lte-sm-full-space-8 > * {margin-top: 8px;}
    .gr-flex.lte-sm-full-space-16 > * {margin-top: 16px;}
}

/* SM = SMALL */
@media (min-width: 600px) and (max-width: 959px) {
    .gr-flex.sm-full {flex-wrap: wrap;}
    .gr-flex.sm-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .sm-flex-none {flex: none;}
    .gr-flex.sm-full-space-8 > * {margin-top: 8px;}
    .gr-flex.sm-full-space-16 > * {margin-top: 16px;}
}

/* MD = MEDIUM */
@media (min-width: 960px) and (max-width: 1279px) {
    .gr-flex.md-full {flex-wrap: wrap;}
    .gr-flex.md-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .md-flex-none {flex: none;}
    .gr-flex.md-full-space-8 > * {margin-top: 8px;}
    .gr-flex.md-full-space-16 > * {margin-top: 16px;}
}

/* LG = LARGE */
@media (min-width: 1280px) and (max-width: 1920px) {
    .gr-flex.lg-full {flex-wrap: wrap;}
    .gr-flex.lg-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .lg-flex-none {flex: none;}
    .gr-flex.lg-full-space-8 > * {margin-top: 8px;}
    .gr-flex.lg-full-space-16 > * {margin-top: 16px;}
}

/* XL = EXTRA LARGE */
@media (min-width: 1280px) and (max-width: 1920px) {
    .gr-flex.lg-full {flex-wrap: wrap;}
    .gr-flex.lg-full > * {margin-left: initial; flex-basis: 100%;}
    .gr-flex > .lg-flex-none {flex: none;}
    .gr-flex.lg-full-space-8 > * {margin-top: 8px;}
    .gr-flex.lg-full-space-16 > * {margin-top: 16px;}
}

/* POR ESPECIFICIDADE, MANTER ESSE ESTILO NO FINAL */
.gr-flex[class*='space-'] > *:first-child {margin-top: 0; margin-left: 0;}
