ui-chips {
    cursor: text;
}
ui-chip {
    cursor: default;
    height: 30px;
    margin: 4px;
    background-color: #E0E0E0;
    border-radius: 20px;
    display: inline-flex;
    padding: 0 30px 0 12px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: rgba(0,0,0,0.8);
}
ui-chip:focus {
    background-color: #2196F3;
    color: white;
}
ui-chip .remove-chip {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
}
ui-chip:focus .remove-chip {
    color: white;
}
ui-chips input  {
    flex: 1;
    height: 30px;
    margin: 4px;
    align-self: center;
}
ui-chips .ui-chip-autocomplete {
    max-height: 20vh;
    overflow: auto;
}
ui-chips .ui-chip-autocomplete.ng-enter {
    opacity: 0;
    transition: none;
    max-height: 0;
}
ui-chips .ui-chip-autocomplete.ng-leave {
    transition: 300ms ease-in-out;
}
ui-chips .ui-chip-autocomplete.ng-leave {
    opacity: 0;
    max-height: 0;
}