<div class="range-bar"></div>
<div class="points" ng-show="!disabled">
    <div ng-repeat="value in range" class="point"></div>
</div>
<div class="range" ng-class="{ 'disabled': disabled }" ng-style="{'left': getPercentageLeft() + '%', 'right': getPercentageRight() + '%'}">
    <div class="start" ng-class="{'active': startDragOn }">
        <div ng-if="startDragOn" class="value" ng-bind="formatValue(start)"></div>
    </div>
    <div class="end" ng-class="{'active': endDragOn }">
        <div ng-if="endDragOn" class="value" ng-bind="formatValue(end)"></div>
    </div>
</div>