gr-switch {
    position: relative;
    width: 36px;
    height: 24px;
    display: inline-block;
}
gr-switch input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
gr-switch .switch-cover {
    background-color: #2196f3;
    width: 0;
    height: 0;
    margin: auto;
}
gr-switch .track {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 34px;
    height: 14px;
    background-color: inherit;
    opacity: 0.5;
    border-radius: 7px;
    transition: 300ms ease-in-out;
}
gr-switch .thumb-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 0;
    margin: auto 0;
    width: 20px;
    background-color: inherit;
    transition: right 300ms ease-in-out;
}
gr-switch .thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translateX(0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), 0 2px 6px rgba(0,0,0,0.2);
    background-color: inherit;
    transition: 300ms ease-in-out;
}
gr-switch .ng-empty + .switch-cover {
    background-color: #212121;
}
gr-switch .ng-empty + .switch-cover .thumb-container {
    right: 100%;
}
gr-switch .ng-empty + .switch-cover .thumb {
    box-shadow: 0 1px 2px rgba(0,0,0,0.21), 0 1px 3px rgba(0,0,0,0.3);
    transform: translateX(100%);
}
gr-switch .ng-empty:not([disabled]) + .switch-cover .thumb {
    background-color: white;
}
gr-switch .thumb-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto -20px;
    border-radius: 50%;
    background-color: inherit;
    opacity: 0.2;
    transform: scale(0);
    transition: 300ms ease-in-out;
    pointer-events: none;
}
gr-switch input.ng-empty + .switch-cover .thumb-container::before {
    background-color: black;
    opacity: 0.1;
    margin: auto 0;
}
gr-switch input:focus + .switch-cover .thumb-container::before,
gr-switch input:active + .switch-cover .thumb-container::before{
    transform: scale(1);
}
gr-switch [disabled] + .switch-cover {
    background-color: #bdbdbd;
}