    gr-menu {
	position: fixed;
	display: block;
    top: 0;
    left: 0;
	/*width: 300px;*/
	font-size: 14px;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3), 0 8px 24px rgba(0,0,0,0.15);
	border-radius: 2px;
	overflow: hidden;
	transition: 150ms ease-in-out;
	user-select: none;
	z-index: 2000;
}
	gr-menu ul {
		flex: 1;
		padding: 5px 0;
	}
		gr-menu ul + ul {
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	gr-menu li, gr-menu a {
		display: flex;
		align-items: center;
	}
	gr-menu a {
		flex: 1;
		padding-right: 12px;
		color: rgba(0,0,0,0.4);
		transition: 300ms ease-in-out;
	}
        gr-menu .gr-menu-wrapper a:link {
            text-decoration: none;
            cursor: default;
        }
		gr-menu a:link, gr-menu a.action {
			cursor: pointer;
		}
		gr-menu a:link:hover, gr-menu a.action:hover {
			background-color: rgba(0,0,0,0.1);
		}
		gr-menu a:link, gr-menu a:visited, gr-menu a.action {
			color: rgba(0,0,0,0.8);
			text-decoration: none;
		}
		gr-menu a > i {
			margin: 6px;
		}
	gr-menu li > div {
		color: rgba(0,0,0,0.7);
		flex: 1 0 auto;
		display: flex;
		padding: 2px;
		align-items: center;
		cursor: default;
	}
        gr-menu.clickable li > div:hover,
        gr-menu li.clickable > div:hover {
			background-color: rgba(0,0,0,0.1);
		}
	gr-menu i {
		display: flex;
		margin: 4px;
		margin-right: 8px;
	}
	gr-menu .gr-menu-wrapper {
		min-width: 150px;
	}
    gr-menu .title {
        color: rgba(0,0,0,0.7);
        padding: 10px;
    }