gr-loader {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 3px 9px rgba(0,0,0,0.2);
    transition: 300ms ease-in-out;
}
gr-loader gr-spinner {
    width: 20px;
    height: 20px;
}