gr-struct {
    display: flex;
    flex-direction: column;
    height: 100%;
}
gr-struct > .gr-header-placeholder {
    flex: 0 0 auto;
}
gr-pages {
    position: relative;
    display: block;
    flex: 1 0 auto;
}
gr-page-cover {
    display: block;
    flex: 1 0 auto;
}
gr-page {
    display: block;
    transition: 300ms ease-in-out;
}
gr-page.spaced {
    padding: 10px;
}
gr-page.v-spaced {
    padding: 10px 0;
}
gr-page.h-spaced {
    padding: 0 10px;
}
gr-container {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
gr-container.small {
    width: 480px;
}
@media (min-width: 601px) {
    gr-page.spaced {
        padding: 20px;
    }
    gr-page.v-spaced {
        padding: 20px 0;
    }
    gr-page.h-spaced {
        padding: 0 20px;
    }
}