gr-slider {
	position: relative;
	display: block;
	overflow: hidden;
	transition: 200ms ease-in-out;
}
	gr-slider-content {
		display: block;
	}
	gr-slide {
		display: block;
		transition: 200ms ease-in-out;
	}
	gr-slide.out-of-bound {
		position: absolute;
		top: -9999px;
		left: -9999px;
		width: 100%;
	}
	gr-slide-content {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		visibility: hidden;
		flex: 0 0 100%;
		transition: 200ms ease-in-out;
	}
	.slide-active > gr-slide-content {
		position: relative;
		visibility: visible;
	}
	gr-slide > .stay-right {
		transform: translate(100%);
	}
	gr-slide > .stay-left {
		transform: translate(-100%);
	}